.form-popup__container {
    margin: auto;
    max-width: 32vw;
    width: 100%;
    background-color: #1F2833;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.16);
}

.form-popup__form_feedback {
    max-width: 30vw;
    width: 100%;
}

.form-popup__heading {
    color: #3AAFA9;
    font-size: 1.6vw;
    font-weight: 600;
}

.form-popup__input-container {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-popup__label {
    color: #3AAFA9;
    font-size: 1.2vw;
    font-weight: 300;
    padding-bottom: 1vh;
}

.popup__form-input {
    margin-bottom: 2vh;
    font-size: 1vw;
    line-height: 2vh;
}

.popup__form-input_large {
    height: 8vh;
}

.popup__form-submit-button {
    width: 100%;
    height: 4vh;
    margin: 4vh auto;
    color: #2B7A78;
    font-size: 1.4vw;
    text-align: center;
    padding: 0;
    border: none;
}

.popup__form-submit-button:hover {
    opacity: 0.8;
}

.button_inactive {
    background-color: #DEF2F1;
    color: #1F2833;
}