.popup__image {
    max-width: 70vw;
    max-height: 70vh;
}

.popup__image:hover {
    cursor: grab;
}

.popup__link_left {
    width: 4vw;
    height: 4vw;
    display: none;
    background-image: url("../../img/buttons/arrows/left-arrow.png");
    background-size: cover;
    cursor: pointer;
}

.popup__link_right {
    width: 4vw;
    height: 4vw;
    display: none;
    background-image: url("../../img/buttons/arrows/right-arrow.png");
    background-size: cover;
    cursor: pointer;
}