.validation-popup {
    display: none;
    z-index: 512;
    width: 100%;
    height: 100%;
    position: fixed;
}

.validation-popup__container {
    position: relative;
    max-width: 48vw;
    padding: 4vw;
    background-color: #3AAFA9;
    border-radius: 8vw;
}

.validation-popup_active {
    display: block;
}

.validation-popup__text {
    color: black;
    font-size: 2vw;
    font-weight: 300;
}

.validation-popup__close-button {
    position: absolute;
    top: -4vh;
    right: -4vw;
    width: 2vw;
    height: 2vw;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1F2833;
    background-image: url(../../img/buttons/close.png);
    background-size: cover;
}