.footer_dark {
    background-color: #1F2833;
}
.footer_light {
    background-color: #2B7A78;
}

.footer {
    padding-left: 4%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.footer__text_dark {
    color: #66FCF1;
}
.footer__text_light {
    color: whitesmoke;
}

.social__item {
    display: inline-block;
    border-radius: 32%;
}

.social__link {
    display: block;
    width: 2.8vw;
    height: 2.8vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.telegram {
    background-image: url(../../img/social_networks/telegram.webp);
    background-size: cover;
}
.vk {
    background-image: url(../../img/social_networks/vk.webp);
    background-size: cover;
}
.github {
    background-image: url(../../img/social_networks/github.webp);
    background-size: cover;
}

.footer__rain-button {
    position: absolute;
    bottom: 1.8vh;
    right: 2vw;
    width: 3.2em;
    height: 3.2em;
    border: 0;
    background-size: cover;
    background-color: transparent;
}

.footer__rain-button_dark {
    background-image: url("../../img/buttons/rain/rain-light.png");
}
.footer__rain-button_light {
    background-image: url("../../img/buttons/rain/rain-dark.png");
}
