.footer_dark {
    background-color: #1F2833;
}
.footer_light {
    background-color: #2B7A78;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
}

.footer__text {
    font-size: 1.6vw;
}

.footer__text_dark {
    font-size: 1.8vw;
    color: #66FCF1;
}
.footer__text_light {
    color: whitesmoke;
}

.social__item {
    display: inline-block;
    border-radius: 32%;
}

.social__link {
    display: block;
    width: 2.8vw;
    height: 2.8vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.telegram {
    background-image: url(../../img/social_networks/telegram.webp);
    background-size: cover;
}
.vk {
    background-image: url(../../img/social_networks/vk.webp);
    background-size: cover;
}
.github {
    background-image: url(../../img/social_networks/github.webp);
    background-size: cover;
}

.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 8vw;
    width: 100%;
}

.footer__rain-button {
    width: 2.8vw;
    height: 2.8vw;
}

.footer__rain-button_dark {
    background-image: url("../../img/buttons/rain/icon-light.png");
}
.footer__rain-button_light {
    background-image: url("../../img/buttons/rain/icon-dark.png");
}

.footer__feedback-button {
    width: 2.8vw;
    height: 2.8vw;
}

.footer__feedback-button_dark {
    background-image: url("../../img/buttons/feedback/icon-light.png");
}
.footer__feedback-button_light {
    background-image: url("../../img/buttons/feedback/icon-dark.png");
}
