.header__theme-button {
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 4vw;
    height: 4vw;
}

.header__theme-button_dark {
    background-image: url("../../img/buttons/theme/icon-dark.png");
}
.header__theme-button_light {
    background-image: url("../../img/buttons/theme/icon-light.png");
}

.header {
    position: relative;
    transition: 0.4s;
}

.header_flex-col {
    display: flex;
    flex-direction: column;
}

.header_dark {
    background-color: #1F2833;
}
.header_light {
    background-color: #3AAFA9;
}

.header__text {
    margin: 8%;
    font-size: 4vw;
    cursor: grab;
}

.header__text_light {
    color: ghostwhite;
}
.header__text_dark {
    font-size: 4.4vw;
    color: #66FCF1;
}


.header__text-greeting {
    font-size: 64%;
    margin: 4%;
}

.header__text-name {
    text-decoration: none;
}

.header__image {
    margin: 4% 4%;
    width: 30vw;
    height: 40vw;
    cursor: grab;
}

.header__image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
