.info {
    font-size: 1.2vw;
    margin: 0;
}

.info__about-me {
    margin: 0 2vw;
}

.info_dark {
    background-color: black;
    color: #45A29E;
}
.info_light {
    background-color: #DEF2F1;
    color: #2B7A78;
}

.info__about-me-photo {
    margin: 2% 1%;
    width: 21%;
    height: 18%;
    background-size: cover;
    cursor: grab;
}

.info__specialized {
    margin: 0 2vw;
}

.info__process {
    margin: 1vw auto;
    width: 28%;
    height: 28%;
    background-image: url("../../img/personal/at_the_computer.webp");
    background-size: cover;
}

.education {
    margin: 2vw;
}

.interests {
    margin: 2vw;
}

.gallery {
    margin: 4vh 2vw;
}

.gallery-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gallery__picture_vertical {
    width: 24%;
    height: 24%;
    background-size: cover;
    cursor: grab;
}

.gallery__picture_horizontal {
    width: 36%;
    height: 36%;
    background-size: cover;
    cursor: grab;
}